/*Establecimiento de Márgenes*/

*{
    margin: 0;
	padding: 0;
}

/*Roots*/

:root {
    --color-primary: #ffffff;
    --color-secondary: #232323;
    --text-primary: #1f1f1f;
    --text-secondary: #707070;
    --bg-greendark: #D4F8DC;
    --bg-greenlight: #E6FFEB;
}

/*Selecciones*/

a{
    text-decoration: none;
}

::selection {
    background: ;
    color: ;
}

/*Fuentes Tipográficas*/

@font-face {
    font-family: '';
    src: url();
}

@font-face {
    font-family: '';
    src: url();
}

/* Barra de Scroll */
  
body::-webkit-scrollbar {
    width: 0.45rem;
}

body::-webkit-scrollbar-thumb {
    background: #7b7465;
    border-radius: 10px;
    border-right: 2px solid var(--color-primary);
}

/*General*/

html{
    background-color: var(--bg-greenlight);
}

body{
    font-family: 'Montserrat';
}

body.swal2-shown > [aria-hidden="true"] {
    transition: 0.1s filter;
    filter: blur(10px);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1.5rem;
}

/*Cuadro principal*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header img{
    height: 4rem;
    width: 4rem;
}

.upbtns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #AAF2BA;
    border-radius: 20px;
    height: 3.2rem;
    width: 4.6rem;
    padding-left:  1.5rem;
    padding-right: 1.5rem;
}

.upbtns a svg{
    text-decoration: none;
    color:black;
    height: 1.5rem;
    width: auto;
}

/*Barra de Navegación*/

nav li::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
}
  
nav li:hover::before {
transform: scaleX(1);
transform-origin: bottom left;
}

nav li::before {
content: " ";
position: absolute;
top: 1.9rem; right: 0; bottom: 0; left: 0;
height: 0.16rem;
background: #60D394;
transition: transform .3s ease;
}

nav li {
position: relative;
text-decoration: none;
}

nav ul {
    float: right;
    padding: 2.5rem;
}

nav ul li {
    display: inline-block;
    float: left;
}

nav ul li:not(:first-child) {
    margin-left: 48px;
}

nav ul li:last-child {
    margin-right: 24px;
}

nav ul li a {
    display: inline-block;
    outline: none;
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 1.2px;
    font-weight: 600;
}

/*Pago*/

.pago{
    background-color: #ffffff;
    height: auto;
    width: 70%;
    height: auto;
    border-radius: 48px;
    display: flex;
    margin-top: 3rem;
}

.payment{
    width: 100%;
    padding: 2rem;
}

.clear a svg{
    border-radius: 26px;
    height: 1rem;
    width: 1rem;
    padding: 1rem;
    text-decoration: none;
    color: black;
}

.cajaprocs{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.producs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(228, 228, 228);
    width: auto;
    height: auto;
    justify-content: space-around;
}

.producs:last-child{
    margin-bottom: 0;
}

.producs svg{
    border-radius: 26px;
    height: 3rem;
    width: 3rem;
    padding: 1rem;
    background-color: white;
}

.add{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.add input{
    margin-left: 1rem;
    margin-right: 1rem;
    width: 10%;
    border-radius: 5px;
    height: 20%;
}

.add input::placeholder{
    padding: 0.4rem;
}
  
.pagr {
    width: 100%;
    margin: 0.5rem;
    background-color: #EE6055;
    border-radius: 48px;
    width: auto;
    height: 100%;
    padding: 2.2rem;
    padding-top: 3rem;
    padding-bottom: 0;
    color: white;
}

.pagr input{
    border: none;
    border-radius: 10px;
    box-shadow: #707070;
    width: 100%;
    margin-top: 0.5rem;
    height: 2rem;
}

.pagr input::placeholder{
    padding: 1rem
}

.pagr label{
    margin-top: 0.5rem;
}

.nombre{
    display: flex;
    flex-direction: column;
}

.numerotar{
    display: flex;
    flex-direction: column;
}

.numerotar select{
    border: none;
    border-radius: 10px;
    width: 100%;
    margin-top: 0.5rem;
    height: 2rem;
}

.fechas{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.vence input{
    width: max-content;
}

.cvc{
    margin-left: 2rem;
}

.total{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #ffffff solid 2px;
    border-radius: 10px;
    width: 6rem;
    margin-top: 0.5rem;
    height: 1.75rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.pagr a{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1.8rem;
    color:black ;
}

.pagr h2{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

/*Botónes*/

#btnen {
    display: flex;
    justify-content: center;
}

.btn {
    border-radius: 12px;
    padding: 0.5rem 1.5rem;
    width: 100%;
    font-size: 1rem;
    text-decoration: none;
    margin: 0.5rem;
    color: rgb(0, 0, 0);
    position: relative;
    display: inline-block;
    border: none;
}

.btn2 {
    border-radius: 12px;
    padding: 0.5rem 1.5rem;
    width: 100%;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 0.5rem;
    color: rgb(0, 0, 0);
    position: relative;
    display: inline-block;
    border: none;
}

.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
    border: none;
}

.btn2:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
    border: none;
}

.vermas {
    font-weight: 600;
    background-color: #FFD97D;
    box-shadow: 0px 5px 0px 0px #ecbe51;
}

.vermas2 {
    color: white;
    font-weight: 600;
    background-color: #EE6055;
    box-shadow: 0px 5px 0px 0px #df4d42;
    margin-left: 2rem;
}

.reiz{
    padding: 2.5rem;
}

.cude{
    background-color: #e1ffe7;
    border-radius: 48px;
    display: flex;
    margin: 3rem;
    box-shadow: 0px 4px 0px 0px #a9caa2;
}

.cude img{
    padding: 2rem;
}

/*Recibido*/

.imgre{
    margin: 5rem;
    height: 80vh;
    margin-bottom: 2rem;
}

/*Recibo*/

.reh1{
    margin-top: 1rem;
    font-size: 3rem;
}

.recibo{
    background-color: #ffffff;
    height: 50vh;
    width: 50%;
    border-radius: 48px;
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.rebtns{
    display: flex;
    justify-content: space-between;
}

/*Footer*/

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    letter-spacing: 0.1rem;
  }