/*Establecimiento de Márgenes*/

*{
    margin: 0;
	padding: 0;
}

/*Roots*/

:root {
    --color-primary: #ffffff;
    --color-secondary: #232323;
    --text-primary: #1f1f1f;
    --text-secondary: #707070;
    --bg-greendark: #D4F8DC;
    --bg-greenlight: #E6FFEB;
}

/*Selecciones*/

a{
    text-decoration: none;
}

::selection {
    background: ;
    color: ;
}

/*Fuentes Tipográficas*/

@font-face {
    font-family: '';
    src: url();
}

@font-face {
    font-family: '';
    src: url();
}

/* Barra de Scroll */
  
body::-webkit-scrollbar {
    width: 0.45rem;
}

body::-webkit-scrollbar-thumb {
    background: #7b7465;
    border-radius: 10px;
    border-right: 2px solid var(--color-primary);
}

/*General*/

html{
    background-color: var(--bg-greenlight);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 0;
    font-family: 'Montserrat';
}

/*Cuadro principal*/

main{
    background-color: #ffffff;
    border-radius: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    padding: 2rem;
}

/*Lado - Izquierdo*/

.left-text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-text img{
    height: 3rem;
    width: 4rem;
    margin-top: 3%;
    margin-left: 3%;
}

.leftbox1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item1{
    height: auto;
    width: auto;
}

form{
    width: 70%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

form a{
    text-decoration: none;
    color: black;
}

.intext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intext h1{
    margin-bottom: 1.3rem;
}

.intext p{
    font-size: larger;
    margin-bottom: 2rem;
}

.cor input{
    width: 100%;
    margin-bottom: 2rem;
}

.contra input{
    width: 100%;
    margin-bottom: 3rem;
}

input::placeholder{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Montserrat';
    background-color: none;
}

input{
    border: none;
    border-bottom: #c7c7c7 1.8px solid;
    padding: 0.8rem;
    font-size: 1.2rem;
    padding-left: 0;
    outline: none;
    background-color: none;
}

input:focus{
    border-bottom: #9ba89b 1.8px solid;
    background-color: none;
}

.recontra{
    display: flex;
    justify-content: center;
}

/*Lado - Derecho*/

.right-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.right-img img{
    height: 75vh;
    width: auto;
}

.recontra{
    text-decoration: none;
    color: black;
}

/* Botónes */

.botones{
    display: flex;
    justify-content: space-around;
    height: 6rem;
    margin-bottom: 1rem;
}

.btn {
    border-radius: 48px;
    padding: 1rem 2rem;
    font-size: 1rem;
    text-decoration: none;
    margin: 0.5rem;
    color: #fff;
    position: relative;
    display: inline-block;
    border: none;
}

.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
    border: none;
}

.login {
    font-weight: 600;
    background-color: #EE6055;
    box-shadow: 0px 5px 0px 0px #df4d42;
    border: none;
}

.bt {
    border-radius: 48px;
    padding: 1rem 2rem;
    font-size: 1rem;
    text-decoration: none;
    margin: 0.5rem;
    color: #000;
    position: relative;
    display: inline-block;
    border: none;
}

.bt:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
    border: none;
}

.register{
    font-weight: 600;
    background-color: #ffffff;
    box-shadow: 0px 5px 0px 0px #dfdfdf;
    border: none;
}

/*Footer*/

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    letter-spacing: 0.1rem;
  }

  /*Adaptabilidad para pantallas pequeñas*/

@media screen and (max-width: 980px){

    
    
}